<!-- configuation file that specifies where the CLR class loader can find
     the assemble file (codebase hint) -->
<configuration>
   <runtime>
     <bypassTrustedAppStrongNames enabled="false" />
     <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="AdvCalc"
                              publicKeyToken="5ffec1fe156608ed"
                              culture="neutral" />
							  
			<bindingRedirect oldVersion="1.0.0.0-1.9.0.0" newVersion="2.0.0.0"/>
			</assemblyIdentity>
			
            <codeBase version=""2.0.0.0"
                      href="file:///d:\tmp\public\v2\AdvCalc.dll"/>
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
