
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_TariffCalculatorLayout</title>

    <link rel="stylesheet" href="~/Content/bootstrap.css"/>
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <div class="container body-content">
        <div class="jumbotron">
            <h2>@ViewBag.Title</h2>
        </div>
        @RenderBody()
    </div>
</body>
</html>
