<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head"><title>App Title</title></head>

<body role="document">
	<div th:replace="layout :: navBar">Navigation Bar</div>

	<div class="container">

		<div class="page-title">
			<h2 th:text="#{entry.title}">Add/Remove Entry</h2>
		</div>

		<form th:object="${entry}" method="post" >
		    <input type="hidden" th:field="*{id}" />
		    
			<div class="form-group">
				<label for="email">Activity:</label>
 				<input id="activity" type="text" th:field="*{activity}"  class="form-control" /> 
			</div>
	
			<div class="row">
				<div class="form-group col-sm-6"
				     th:classappend="${#fields.hasErrors('startTime')} ? 'has-error'">
					<label for="email">From:</label>
	 				<input id="startTime" type="text" th:field="*{startTime}" class="form-control" /> 
					<label class="control-label" th:errors="*{startTime}">[error]</label>
				</div>
	
				<div class="form-group col-sm-6" 
				     th:classappend="${#fields.hasErrors('endTime')} ? 'has-error'">
					<label for="email">To:</label>
	 				<input id="endTime" type="text" th:field="*{endTime}"  class="form-control" /> 
					<label class="control-label" th:errors="*{endTime}">[error]</label>
				</div>
			</div>

			<input type="submit" th:value="${entry.id == null ? 'Add' : 'Update'}" class="btn btn-success" />	
			
		</form>
	</div>
</body>
</html>
