<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head"><title>App Title</title></head>

<body role="document">
<div th:replace="layout :: navBar">Navigation Bar</div>

<div class="container">

    <div class="page-title">
        <h2 th:text="#{games.manage}">Add/Remove Entry</h2>
    </div>

    <!--/*@thymesVar id="entry" type="swt6.soccer.domain.Game"*/-->
    <form th:object="${entry}" method="post" >
        <input type="hidden" th:field="*{id}" />

        <div class="row">
            <div class="form-group col-sm-12"
                 th:classappend="${#fields.hasErrors('date')} ? 'has-error'">
                <label for="date">Date:</label>
                <div class="input-group date" data-provide="datepicker">
                    <input  id="date" th:field="*{date}" type="text" class="form-control"/>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
                <label class="control-label" th:errors="*{date}">[error]</label>
            </div>
        </div>
        <div class="row">

            <div class="form-group col-sm-6"
                 th:classappend="${#fields.hasErrors('teamA')} ? 'has-error'">
                <div class="form-group">
                    <label for="teamA">Team:</label>
                    <select th:field="*{teamA}" class="form-control" id="teamA">
                        <!--/*@thymesVar id="team" type="swt6.soccer.domain.Team"*/-->
                        <option th:each="team : ${teams}"
                                th:value="${team.id}"
                                th:text="${team.name}">Team</option>
                    </select>
                    <label class="control-label" th:errors="*{teamA}">[error]</label>
                </div>
            </div>

            <div class="form-group col-sm-6"
                 th:classappend="${#fields.hasErrors('teamB')} ? 'has-error'">
                <div class="form-group">
                    <label for="teamB">Team:</label>
                    <select th:field="*{teamB}" class="form-control" id="teamB">
                        <!--/*@thymesVar id="team" type="swt6.soccer.domain.Team"*/-->
                        <option th:each="team : ${teams}"
                                th:value="${team.id}"
                                th:text="${team.name}">Team</option>
                    </select>
                    <label class="control-label" th:errors="*{teamB}">[error]</label>
                </div>
            </div>
        </div>

        <input type="submit" th:value="${entry.id == null ? 'Add' : 'Update'}" class="btn btn-success" />

    </form>
</div>
<div th:replace="layout :: scripts"></div>

</body>
</html>
